html{
    box-sizing: border-box;
    overflow-x: hidden;
}
.top-bar{
    text-align: center;
    color: white;
    margin: auto;    
}
.top-bar-logo{
    position: relative;
    top:-755px;
}
.top-bar-mouse-click{
    position: relative;
    top: -355px;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-55px);
    }
    60% {
      transform: translateY(-45px);
    }
}
.top-bar h1{
    position: relative;
    top: -660px;
}
.top-bar h2{
    position: relative;
    top: -600px;
}
.top-bar p{
    position: relative;
    top: -580px;
}
.about-us{
    text-align: center;
    color: black;
    margin: auto; 
    position: relative;
    top: -245px;
}
.services{
    text-align: center;
    color: white;
    margin: auto; 
}
.services img{
    position: relative;
    top: -235px;
}
.services h1{
    position: relative;
    top: -575px;
    color: white;
}
.services p{
    position: relative;
    top: -575px;
    color: white;
}
.what-we-do{
    position: relative;
    top: -375px;
    text-align: center;
    margin: auto;
    padding-left: 25px;
}
.what-we-do h1{
    position: relative;
    top: -35px;
    text-align: center;
}
.what-we-do-columns{
    width: 33%;
    float: left;
}
.what-we-do p{
    display: none;
}
.portfolio{
    position: relative;    
    top: -345px;
    width: 80%;
    margin: auto;
    text-align: center;
}
.portfolio img{
    width: 25%;
    padding: 2px;
    float: left;
}
.contact-us{
    width: 100%;
    clear: both;
    position: relative;
    top: -295px;
    text-align: center;
}
.contact-us h1{
    position: relative;
    top: -605px;
    color: white;
}
.contact-us input{
    position: relative;
    top: -605px;
    color: white;
    background-color: transparent ;
}
.bottom{
    position: relative;
    margin: auto;
    top: -345px;
    text-align: center;
    
}
@media screen and (max-width: 600px){
    html{
        box-sizing: border-box;
        overflow-x: hidden;
    }
    .top-bar-image{
        width: 10%;
    }
    .portfolio{
        position: relative;    
        top: -345px;
        width: 100%;
        margin: auto;
        text-align: center;
       
    }
