html{
    box-sizing: border-box;
    overflow-x: hidden;
}
.top-bar{
    text-align: center;
    color: white;
    margin: auto;    
}
.top-bar-logo{
    position: relative;
    top:-755px;
}
.top-bar-mouse-click{
    position: relative;
    top: -355px;
}
.top-bar h1{
    position: relative;
    top: -660px;
}
.top-bar h2{
    position: relative;
    top: -600px;
}
.top-bar p{
    position: relative;
    top: -580px;
}
.about-us{
    text-align: center;
    color: black;
    margin: auto; 
    position: relative;
    top: -245px;
}
.services{
    text-align: center;
    color: white;
    margin: auto; 
}
.services img{
    position: relative;
    top: -235px;
}
.services h1{
    position: relative;
    top: -575px;
    color: white;
}
.services p{
    position: relative;
    top: -575px;
    color: white;
}
