html{
    box-sizing: border-box;
    overflow-x: hidden;
}
.top-bar{
    text-align: center;
    color: white;
    margin: auto;    
}
/*.top-bar-text{
    position: absolute;
    top: 0;
    align-items: center;
}*/
.top-bar-logo{
    position: relative;
    top:-755px;
}
.top-bar-mouse-click{
    position: relative;
    top: -355px;
}
.top-bar h1{
    position: relative;
    top: -660px;
}
.top-bar h2{
    position: relative;
    top: -600px;
}
.top-bar p{
    position: relative;
    top: -580px;
}
